.app-header {
  position: fixed;
  background-color: #222;
  width: 3.8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-header .icon-wrapper {
  margin-top: 2rem;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.app-header .icon-wrapper:hover {
  transform: scale(1.15);
}

.app-header .icon-wrapper:hover path, .icon-wrapper:hover line, .icon-wrapper:hover rect, .icon-wrapper:hover polyline {
  transition: 1s;
  stroke: greenyellow;
}

.app-header svg {
  width: 40px;
}

.app-header path, line, rect, polyline {
  fill: none;
  stroke: white;
  stroke-width: 15px;
  stroke-linejoin: round;
}