.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;
  margin-left: 13rem;

  .description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin: 0;
    }
  }

  .learn-more-container {
    margin-top: 3rem;

    span {
      display: inline-block;
      font-size: 1rem;
      border-bottom: 1px solid white;
      padding-bottom: 3px;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @media (max-width: 1400px) {
    margin-left: 11rem;
  }
  
  @media (max-width: 1000px) {
    margin-left: 8rem;
  }

  @media (max-width: 800px) {
    margin-left: 5rem;
  }

  @media (max-width: 400px) {
    margin-left: 3rem;
  }
}