::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;

  .wrapper {
    height: 100%;
    margin: 5rem 0 0 8rem;
    
    h1 {
      font-size: 3.3rem;

      @media (max-width: 1200px) {
        font-size: 2.5rem;
      }
    
      @media (max-width: 800px) {
        font-size: 2.0rem;
      }
    
      @media (max-width: 600px) {
        font-size: 1.6rem;
      }
    
      @media (max-width: 400px) {
        font-size: 1.5rem;
      }

      @media (max-width: 350px) {
        font-size: 1.3rem;
      }
    }
    
    font-size: 1.2rem;
  
    @media (max-width: 800px) {
      font-size: 1.1rem;
    }
  
    @media (max-width: 600px) {
      font-size: 1.0rem;
    }

    @media (max-width: 600px) {
      font-size: 0.9rem;
    }

    @media (max-width: 400px) {
      font-size: 0.8rem;
    }

    @media (max-width: 350px) {
      font-size: 0.7rem;
    }

    .enlarge-span {
      margin-top: 3rem;
      display: inline-block;
      font-size: 1rem;
      border-bottom: 1px solid white;
      padding-bottom: 0.2rem;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    a {
      text-decoration: none;
      background-color: none;
      color: white;
    }

    .bounce {
      display: inline-block;
      font-weight: lighter;
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      white-space: pre;

      &:hover {
        animation-name: rubberBand;
        color: lightskyblue;
      }
    }

    @media (max-width: 1600px) {
      margin: 4.5rem 0 0 7rem;
    }
  
    @media (max-width: 1400px) {
      margin: 3rem 0 0 6rem;
    }
  
    @media (max-width: 1000px) {
      margin-top: 3rem;
    }
  
    @media (max-width: 800px) {
      margin: 2rem 0 0 5rem;
    }

    @media (max-width: 350px) {
      margin-left: 4rem;
    }
  }
}

button {
  padding: 0.8rem;
  border: 1px solid lightskyblue;
  border-radius: 5px;

  color: skyblue;
  background-color: transparent;
  outline: none;
  font-family: OpenSans;
  transition: .5s ease-in-out;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: skyblue;
  }

  @media (max-width: 800px) {
    padding: 0.5rem;
  }
}

.m-scene .scene_element {
	animation-duration: 0.5s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
	animation-name: fadeIn;
}

.m-scene .scene_element--fadeinup {
	animation-name: fadeInUp;
}

.m-scene .scene_element--fadeindown {
	animation-name: fadeInDown;
}

.m-scene .scene_element--fadeinright {
	animation-name: fadeInRight;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes rubberBandWordUp {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1, 0.75, 1);
  }

  50% {
    transform: scale3d(1, 1.2, 1);
  }

  60% {
    transform: scale3d(1, 0.95, 1);
  }

  70% {
    transform: scale3d(1, 1.1, 1);
  }

  80% {
    transform: scale3d(1, 0.95, 1);
  }

  90% {
    transform: scale3d(1, 1.1, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBandWordRight {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.95, 1, 1);
  }

  40% {
    transform: scale3d(1.02,  1, 1);
  }

  50% {
    transform: scale3d(0.96, 1, 1);
  }

  60% {
    transform: scale3d(1.01, 1, 1);
  }

  70% {
    transform: scale3d(0.97, 1, 1);
  }

  80% {
    transform: scale3d(1.005, 1, 1);
  }

  90% {
    transform: scale3d(0.98, 1, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}