.page-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;

  .wrapper {
    height: 100%;
    z-index: -1;

    h1, h2, h3 {
      font-family: TitilliumWeb;
    }
    
    h1 {
      font-size: 3.3rem;

      @media (max-width: 1200px) {
        font-size: 2.5rem;
      }
    
      @media (max-width: 800px) {
        font-size: 2.0rem;
      }
    
      @media (max-width: 600px) {
        font-size: 1.6rem;
      }
    
      @media (max-width: 400px) {
        font-size: 1.5rem;
      }
    }

    p {
      font-family: OpenSans;
      font-size: 1.2rem;
    
      @media (max-width: 800px) {
        font-size: 1.1rem;
      }
    
      @media (max-width: 600px) {
        font-size: 1.0rem;
      }

      @media (max-width: 600px) {
        font-size: 0.9rem;
      }
    }
  }
}

.m-scene .scene_element {
	animation-duration: 0.5s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
	animation-name: fadeIn;
}

.m-scene .scene_element--fadeinup {
	animation-name: fadeInUp;
}

.m-scene .scene_element--fadeindown {
	animation-name: fadeInDown;
}

.m-scene .scene_element--fadeinright {
	animation-name: fadeInRight;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes rubberBandWordUp {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1, 0.75, 1);
  }

  50% {
    transform: scale3d(1, 1.2, 1);
  }

  60% {
    transform: scale3d(1, 0.95, 1);
  }

  70% {
    transform: scale3d(1, 1.1, 1);
  }

  80% {
    transform: scale3d(1, 0.95, 1);
  }

  90% {
    transform: scale3d(1, 1.1, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBandWordRight {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.95, 1, 1);
  }

  40% {
    transform: scale3d(1.02,  1, 1);
  }

  50% {
    transform: scale3d(0.96, 1, 1);
  }

  60% {
    transform: scale3d(1.01, 1, 1);
  }

  70% {
    transform: scale3d(0.97, 1, 1);
  }

  80% {
    transform: scale3d(1.005, 1, 1);
  }

  90% {
    transform: scale3d(0.98, 1, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}