.page-wrapper {
  display: flex;
	flex-direction: row;

  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;

  .wrapper {
    h1 {
      font-family: TitilliumWeb;
      font-size: 3rem;

      @media (max-width: 1200px) {
        font-size: 2.5rem;
      }
    
      @media (max-width: 800px) {
        font-size: 2.0rem;
      }
    
      @media (max-width: 600px) {
        font-size: 1.6rem;
      }
    
      @media (max-width: 400px) {
        font-size: 1.4rem;
      }
    }
  }
}

.m-scene .scene_element {
	animation-duration: 0.5s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
}

.m-scene .scene_element--fadein {
	animation-name: fadeIn;
}

.m-scene .scene_element--fadeinup {
	animation-name: fadeInUp;
}

.m-scene .scene_element--fadeindown {
	animation-name: fadeInDown;
}

.m-scene .scene_element--fadeinright {
	animation-name: fadeInRight;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate(100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}