#root {
  margin:0;
  height: 100vh;
}

body {
  margin: 0;
  font-family: OpenSans, 'Segoe UI';
  background-color: #222;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: OpenSans;
  src: url("./assets/OpenSans-Regular.ttf");
}

@font-face {
  font-family: TitilliumWeb;
  src: url("./assets/TitilliumWeb.ttf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}